* {
  background: seashell;
  font-family:'Times New Roman', Times, serif;
}
.full-bg {
  background: rgb(229, 156, 156);
  border: 1px solid;
  width: 50%;
  height: 100%;
  margin: 30px auto;
}
.main-bg {
  /* background nhi lag ra ispe */
  border: none;
  border-radius: 10px;
  
  width: 85%;
  height: 100%;
  margin: 35px auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  padding-top: 50px;
}

/* ADD NEW BOOK */
.add-new-book-btn {
  width: 95%;
  /* height: 5%; */
  background: rgb(194, 81, 81);
  padding: 5px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: larger;
  text-align: left;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
/* .add-new-book-btn > p {
  background: transparent;
  font-size: larger;
  border: 1px solid;
} */
