* {
  background: seashell;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.full-bg {
  background: rgb(229, 156, 156);
  border: 1px solid rgb(229, 156, 156);
  width: 60%;
  height: 100%;
  margin: 30px auto;
}

.main-bg {
  /* background nhi lag ra ispe */
  border: 1px solid white;
  border-radius: 10px;
  width: 85%;
  height: 100%;
  margin: 45px auto;
  text-align: center;
  padding-top: 50px;
}


/* HEADING  */
.heading {
  color: rgb(88, 32, 32);
}


/* ADD NEW BOOK */
.add-new-book-btn {
  width: 95%;
  /* height: 5%; */
  background: rgb(194, 81, 81);
  padding: 5px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: larger;
  text-align: left;
  margin: 15px 0 40px 0;
}


/* LIST */
.list {
  /* border: 1px solid; */
  border-radius: 10px;
  padding: 25px;
  background-color: lightpink;
  margin: 15px;
}

.list>p {
  background: transparent;
  text-align: left;
  color: rgb(88, 32, 32);
}

.icon-div {
  background: transparent;
  text-align: right;
}

.icon {
  font-size: large;
  font-weight: bold;
  background: transparent;
  color: rgb(82, 14, 14);
  cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */